<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Books</title>
</head>
<body>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getName()} ">book</a>
</div>

<a href="/books/new">Добавить новую книгу</a>

<form th:method="GET" th:action="@{/books/findBooks}">
    <input type="submit" value="Найти книги по параметрам"/>
</form>

</body>
</html>